body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Vodafone", "VodafoneBold", "VodafoneLight",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


@font-face {
  font-family: 'Vodafone';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/VodafoneRg.ttf') format('truetype');
}

@font-face {
  font-family: 'VodafoneBold';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/VodafoneRgBd.ttf') format('truetype');
}

@font-face {
  font-family: 'VodafoneLight';
  font-weight: 400;
  src: url('./assets/fonts/VodafoneLt.ttf') format('truetype');
}
